<html>
<head>
  <title>Schilder Voorspelling</title>
    <link href="{{ url_for('static', filename='styles/main.css')}}" rel="stylesheet" type="text/css"/>
</head>
<body>
<img src="{{url_for('static', filename='styles/images/Vives_logo.png')}}">
<div class="inhoud">
  <h1>Wie is de schilder?</h1>
  <p>Upload je schilderij en krijg een voorspelling.<br>De mogelijke schilders zijn: Picasso, Rubens of Van Gogh.</p>
  <p>  Resultaat : {{ pred }}</p>
<form action="/predict" method="post" enctype="multipart/form-data">
  <input type="file" name="image" accept="image/*" onchange="loadFile(event)">
  <p style="margin-top: -20px;"><img id="output"/></p>
  <input type="submit" style="margin-top: -20px;" value="Voorspelling">
</form>
</div>
</body>
<footer>
  <p>Jennifer Ingelbeen - 3AI</p>
</footer>
</html>
<script>
var loadFile = function(event) {
	var image = document.getElementById('output');
	image.src = URL.createObjectURL(event.target.files[0]);
};
</script>